.container{
  margin: 0 auto;
  padding:3%;
}
.next{
  font-size: 30px;
  margin:1%;
}
.answer{
  padding: 50px 0;
  //height: 150px;
  font-size: 50px;
  border: #557669 1px solid;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.answer:hover{
  background-color: #ebebeb;
}
.wrong{
  width:150px;
  margin: 0;
  top: 60%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.correct{
  width:150px;
  margin: 0;
  top: 60%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#hanzi{
  font-size: 80px;
  margin:2%;
}
@media only screen and (max-width: 768px) {
  .answer{
    font-size: 25px;
  }
}
