<div class="row">
  <div class="col-md-12 text-center">
    <button *ngIf="scores.source && scores.source.length>=1" [routerLink]="flashcardLink" type="button" class="btn btn-primary btn-lg --plain">{{'Flashcards' | uppercase}}</button>
    <button *ngIf="scores.source && scores.source.length>=20" [routerLink]="boardgameLink" type="button" class="btn btn-primary btn-lg --plain">{{'Boardgame' | uppercase}}</button>
  </div>
</div>
<div *ngIf="qwords" class="container text-center">
  <div class="row text-center">
    <div>
      <div class="col text-center hanzi">
        {{this.question.hanzi}}
      </div>
      <div class="row text-center">
        <div class="col-xs-6 right">
          <i *ngIf="!isMyWord(this.question)" class="material-icons star" (click)="this.addWord(this.question)">favorite_border</i>
          <i *ngIf="isMyWord(this.question)" class="material-icons star" (click)="this.addWord(this.question)">favorite</i>
        </div>
        <div class="col-xs-6 left">
          <i class="material-icons" (click)="pronounciation(this.question.hanzi)">
            volume_up
          </i>
        </div>
      </div>
    </div>
    <div class="pinyin-container">
      <p *ngIf="correctAnswer==1&&!pinyin">{{this.question.pinyin}}</p>
      <p *ngIf="correctAnswer==1&&pinyin">{{this.question.translations[0]}}</p>
    </div>
    <div  class="score-container">
      <p>Score:{{getScore()}}</p>
      <p class="overlay centered fade-out" *ngIf="feedback%5==0&&feedback!=0">Congrats, {{feedback}} correct answers in a row! Keep it up!</p>
      <p class="overlay centered fade-out" *ngIf="practiceMore%3==0&&practiceMore!=0">Don't worry, just practice a bit more.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center answer d-flex align-items-center" (click)="this.answers[0].pinyin==this.question.pinyin?correct():notCorrect()">
        <div class="centered">
          {{!pinyin?this.answers[0].translations:this.answers[0].pinyin}}
        </div>
      </div>
      <div class="col-xs-6 text-center answer d-flex align-items-center" (click)="this.answers[1].pinyin==this.question.pinyin?correct():notCorrect()">
        <div class="centered">
          {{!pinyin?this.answers[1].translations:this.answers[1].pinyin}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center answer d-flex align-items-center" (click)="this.answers[2].pinyin==this.question.pinyin?correct():notCorrect()">
        <div class="centered">
        {{!pinyin?this.answers[2].translations:this.answers[2].pinyin}}
        </div>
      </div>
      <div class="col-xs-6 text-center answer d-flex align-items-center" (click)="this.answers[3].pinyin==this.question.pinyin?correct():notCorrect()">
        <div class="centered">
        {{!pinyin?this.answers[3].translations:this.answers[3].pinyin}}
        </div>
      </div>
    </div>
  </div>
  <i class="material-icons" (click)="pinyin?pinyin=false:pinyin=true">
    sync
  </i>
  <i class="material-icons" (click)="timerMode()">
    access_time
  </i>
  <p class="timer" *ngIf="timer">{{counter.min}} : {{counter.sec}}</p>
  <p class="centered overlay" *ngIf="showTimerCount">Congrats, you answered {{this.timerModeCount}} questions! Good job!</p>
  <i *ngIf="correctAnswer==1" class="material-icons correct centered" (click)="pinyin=true">
    done
  </i>
  <i *ngIf="correctAnswer==-1" class="material-icons wrong centered">
    close
  </i>
  <audio autoplay preload="auto" src="assets/correct.mp3" *ngIf="correctAnswer==1"></audio>
</div>

