<div class="login-container">
  <h3>SIGN UP</h3>
  <form (ngSubmit)="submitted()" #form="ngForm" class="text-center">
    <hr>
    <div class="form-group text-center">
      <div class="input-group text-center">
        <label>
          <input placeholder="email" type="email" class="form-control center-input" name="email" required [ngModel]="defaultEmail">
        </label>
      </div>
    </div>
    <div class="form-group text-center">
      <div class="input-group text-center">
        <label>
          <input placeholder="password" type="password" class="form-control center-input" name="password" required [ngModel]="defaultPassword">
          <span></span>
        </label>
      </div>
    </div>
    <div class="form-group text-center">
      <div class="input-group text-center">
        <label>
          <input placeholder="confirm password" type="password" class="form-control center-input" name="confirmPassword" required [ngModel]="defConfirmPassword">
        </label>
      </div>
    </div>
    <div *ngIf="pwderror"><p style="color: darkred;">Passwords must match.</p></div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign Up</button>
    </div>
  </form>

</div>
<div class="signup-message centered overlay" *ngIf="signupMessage">
  <p>Welcome to the HSK practice app!</p>
  <button class="btn btn-primary" (click)="goTo()">Go to my dashboard</button>
</div>
