<div class="row">
  <div class="col-md-12 text-center">
    <button *ngIf="scores.source && scores.source.length>=1" [routerLink]="flashcardLink" type="button" class="btn btn-primary btn-lg --plain">{{'Flashcards' | uppercase}}</button>
    <button *ngIf="scores.source && scores.source.length>=4" [routerLink]="quizLink" type="button" class="btn btn-primary btn-lg --plain">{{'Quiz' | uppercase}}</button>
  </div>
</div>
<div *ngIf="words" class="text-center">
  <div class="score-container">
    <p>Score:{{getScore()}}</p>
    <p class="overlay centered fade-out" *ngIf="feedback%5==0&&feedback!=0">Congrats, {{feedback}} correct answers in a row! Keep it up!</p>
    <p class="overlay centered fade-out" *ngIf="practiceMore%3==0&&practiceMore!=0">Don't worry, just practice a bit more.</p>
  </div>
  <div class="container text-center">
    <div class="text-center container__tile-container row">
      <div class="container__tile-container__tile col col-xs-3" *ngFor="let word of tiles;let i=index" (click)="guess(word)" [ngStyle]="{'background-color':isguessedright(word)}">
          {{word}}
      </div>
    </div>
    <button class="btn btn-primary btn-lg" (click)="generateBoard()">New game</button><br>
  </div>
</div>

