<div class="row">
  <div class="col-sm-12">
    <app-header (chosenSection)="navigate($event)"></app-header>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" [ngSwitch]="displayedSection">
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-1.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk1'"></app-hsk>
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-2.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk2'"></app-hsk>
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-3.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk3'"></app-hsk>
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-4.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk4'"></app-hsk>
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-5.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk5'"></app-hsk>
    <app-hsk (chosenFunction)="navigate($event)" [src]="'assets/hsk-level-6.json'" (myword)="addWord($event)" *ngSwitchCase="'hsk6'"></app-hsk>
    <app-mywords (chosenFunction)="navigate($event)" [words]="mywords" *ngSwitchCase="'mywords'"></app-mywords>
    <app-flashcards *ngSwitchCase="'flashcards'" (myword)="addWord($event)"></app-flashcards>
    <app-quiz *ngSwitchCase="'quiz'" (myword)="addWord($event)"></app-quiz>
    <app-home *ngSwitchDefault></app-home>
  </div>
</div>

