<div class="row">
  <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary btn-lg">Flashcards</button>
      <button type="button" class="btn btn-primary btn-lg">Quiz</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table" *ngIf="words" style="font-size: 20px">
      <thead>
      <tr class="row">
        <th class="col-xs-2 text-center" scope="col">Add to<br>My Words</th>
        <th class="col-xs-2" scope="col">Hanzi</th>
        <th class="col-xs-2" scope="col">Pinyin</th>
        <th class="col-xs-6 text-center" scope="col">Tanslations</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let word of words">
        <td class="col-xs-2 text-center"><img src="/assets/star.png" id="star" style="height:30px" (click)="this.addWord(word)"/></td>
        <td class="col-xs-2 hanzi">{{word.hanzi}}</td>
        <td class="col-xs-2 ">{{word.pinyin}}</td>
        <td class="col-xs-6 text-center">{{word.translations}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
