<div class="row">
  <div class="col-md-12 text-center">
      <button [routerLink]="'flashcards'" type="button" class="btn btn-primary btn-lg --plain">{{'Flashcards' | uppercase}}</button>
      <button [routerLink]="'quiz'" type="button" class="btn btn-primary btn-lg --plain">{{'Quiz' | uppercase}}</button>
      <button [routerLink]="'boardgame'" type="button" class="btn btn-primary btn-lg --plain">{{'Boardgame' | uppercase}}</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="container__actions">
        <mat-paginator #paginator [length]="words.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)" style="background-color: #f8f8f8">
        </mat-paginator>
        <form (ngSubmit)="search()" #form="ngForm">
          <div class="form-group">
            <div class="input-group">
              <input type="search" class="form-control input-group__search-input" name="search" required placeholder="search" [ngModel]="searchedWord">
              <button type="submit" class="btn btn-primary btn-lg input-group__search-button">Search</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="searched.hanzi">
          <div class="row searched word-container">
            <div class="col col-md-6">
              <div class="row">
                <div class="col col-xs-2 text-center"><i class="material-icons material-icons--dark" (click)="this.addWord(searched)">favorite</i></div>
                <div class="col col-xs-2 text-center"><i class="material-icons material-icons--dark" (click)="pronounciation(searched.hanzi)">volume_up</i></div>
                <div class="col col-xs-4 hanzi">{{searched.hanzi}}</div>
                <div class="col col-xs-4 ">{{searched.pinyin}}</div>
              </div>
            </div>
            <div class="col col-md-6 text-center translation">{{searched.translations}}</div>
          </div>
      </div>
    <div class="table" *ngIf="words">
      <div class="row table__word-container" *ngFor="let word of displayedWords">
        <div class="col col-md-6">
          <div class="row">
            <div class="col col-xs-2 text-center">
              <i *ngIf="!isMyWord(word)" class="material-icons material-icons--dark" (click)="this.addWord(word)">favorite_border</i>
              <i *ngIf="isMyWord(word)" class="material-icons material-icons--dark" (click)="this.addWord(word)">favorite</i>
            </div>
            <div class="col col-xs-2 text-center"><i class="material-icons material-icons--dark" (click)="pronounciation(word.hanzi)">volume_up</i></div>
            <div class="col col-xs-4 hanzi">{{word.hanzi}}</div>
            <div class="col col-xs-4">{{word.pinyin}}</div>
          </div>
        </div>
        <div class="col-md-6 text-center translation">{{word.translations}}</div>
      </div>
    </div>
    </div>
  </div>
</div>
