<div class="row">
  <div class="col-md-12 text-center">
    <button *ngIf="words.length>=1" [routerLink]="'flashcards'" type="button" class="btn btn-primary btn-lg --plain">{{'Flashcards' | uppercase}}</button>
    <button *ngIf="words.length>=4" [routerLink]="'quiz'" type="button" class="btn btn-primary btn-lg --plain">{{'Quiz' | uppercase}}</button>
    <button *ngIf="words.length>=20" [routerLink]="'boardgame'" type="button" class="btn btn-primary btn-lg --plain">{{'Boardgame' | uppercase}}</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="words.length<1" class="container text-center">
      <p class="container__empty-message">There are no saved words.</p>
    </div>
    <div class="container" *ngIf="words.length>=1">
      <div *ngIf="searched.hanzi">
          <div class="row searched word-container">
            <div class="col col-md-6">
              <div class="row">
                <div class="col-xs-4 text-center"><i class="material-icons material-icons--dark" (click)="pronounciation(searched.hanzi)">volume_up</i></div>
                <div class="col-xs-4 hanzi">{{searched.hanzi}}</div>
                <div class="col-xs-4 ">{{searched.pinyin}}</div>
              </div>
            </div>
            <div class="col-md-6 text-center translation">{{searched.translations}}</div>
          </div>
      </div>
      <div class="table">
        <div class="row table__word-container" *ngFor="let word of words;let i=index">
          <div class="col-md-6 col">
            <div class="row">
              <div class="col col-xs-3 text-center"><i class="material-icons material-icons--dark" (click)="this.delete(i)">delete</i></div>
              <div class="col col-xs-3 text-center"><i class="material-icons material-icons--dark" (click)="pronounciation(word.hanzi)">volume_up</i></div>
              <div class="col col-xs-3 hanzi">{{word.hanzi}}</div>
              <div class="col col-xs-3 ">{{word.pinyin}}</div>
            </div>
          </div>
          <div class="col col-md-6 text-center translation">{{word.translations}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
