.container{
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 2% auto;
  box-shadow: #ebebeb 1px 1px 3px;
  padding:2%;
}
.searched{
  border: #557669 1px solid;
  margin:1%;
  box-shadow: #669b7c 1px 1px 3px;
}
