.card{
  padding:1%;
  width:60%;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: #ebebeb 1px 1px 3px;
  &__hrow{
    height: 200px;
    overflow: auto;
    padding:1% 0;
    &__hanzi {
      font-size: 50px;
    }
    &__translation{
      font-size: 35px;
    }
  }
  &__prow{
    height:60px;
    &__pinyin{
      font-size: 40px;
    }
  }
  &__trow{
    height:200px;
    overflow: auto;
    padding:2% 0;
    &__translation{
      font-size: 35px;
    }
    &__hanzi {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
.card{
 padding: 0;
 width: 100%;
 &__hrow{
   height: 120px;
   &__hanzi {
     font-size: 50px !important;
     padding:0.5% 0;
   }
   &__translation{
     font-size: 25px;
   }
 }
 &__prow{
   height:60px;
 }
 &__trow{
    height:200px;
   &__translation{
     font-size: 25px;
   }
  }
}
}
