<div class="container text-center">
  <h2>Welcome back, {{level}}!</h2>
  <h3>Your scores:</h3><br>
  <p>Score: {{scores.score}}</p>
  <p>Correct answers/all answers: <mat-progress-bar mode="determinate" value="{{progress}}" [color]="'#557669'"></mat-progress-bar></p>
  <p style="margin-top:5%">Achievements:</p>
  <div class="grid">
    <div *ngFor="let achievement of achievements" style="margin:2%;display: inline">
      <p>{{achievement.title}}</p>
      <img style="height: 100px;" [ngStyle]="{'filter':isAchieved(achievement)}" src="{{achievement.image}}"/>
      <h5 *ngIf="!achievement.achieved">{{achievement.description}}</h5>
    </div>
  </div>

  <button type="button" class="btn btn-secondary btn-lg" (click)="onSelect('practice')">Practice</button>
</div>
