.container{
  border-radius: 4px;
  margin: 10px auto;
}
.index{
  padding: 10px 0;
  background: transparent;
  h1 {
    color: white;
    font-size: 100px;
    font-weight: lighter;
    text-shadow: gray 2px 3px 10px;
  }
}
